---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import News from "../components/news.astro";
import { Icon } from "astro-icon/components";
import Contacts from "../components/contacts.astro";

import { departments, iconMap } from "../data/departments";
import TechSection from "../components/TechSection.astro";
import PatientJourney from '../components/PatientJourney.astro';
import HeroAbout from '../components/HeroAbout.astro';
---

<Layout title="Відділення променевої терапії">
  <main class="font-sans relative">
    
    <div id="dynamic-zone" class="transition-opacity duration-500 pt-4 md:pt-6">
      <Hero 
  title={departments[0].title} 
  subtitle={departments[0].subtitle} 
  description={departments[0].description} 
/>

      <TechSection departments={departments} />
    </div>


    <HeroAbout />

<PatientJourney />

    <Contacts />


    


    <News />

  </main>
</Layout>

<script define:vars={{ departments, iconMap }}>
  const buttons = document.querySelectorAll('.dept-btn');
  const logoTrigger = document.querySelector('.logo-home-trigger');
  const dynamicZone = document.getElementById('dynamic-zone');







  // Кліки по кнопках
  buttons.forEach(btn => {
    btn.addEventListener('click', () => {
      buttons.forEach(b => {
        b.classList.remove('active', 'bg-blue-600', 'text-white', 'shadow-lg');
        b.classList.add('text-slate-600');
      });
      btn.classList.add('bg-blue-600', 'text-white', 'shadow-lg');
      btn.classList.remove('text-slate-600');
      updateContent(btn.dataset.target);
    });
  });

  // Клік по лого
  logoTrigger?.addEventListener('click', (e) => {
    e.preventDefault();
    buttons.forEach(b => {
      b.classList.remove('active', 'bg-blue-600', 'text-white', 'shadow-lg');
      b.classList.add('text-slate-600');
    });
    updateContent('home');
  });

  // Старт
  window.addEventListener('DOMContentLoaded', () => {
    updateContent('home');
  });
</script>