<footer class="my-20 border-t border-slate-100 pt-10">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} КНТ Дніпро. Всі права захищені.
  </p>
  <p class="text-center text-xs text-slate-400 mt-2">
    Відділення променевої терапії та радіохірургії. м. Дніпро.
  </p>
</footer>